version: '3.8'
services:
  anvil:
    image: ghcr.io/foundry-rs/foundry
    ports:
      - "8545:8545"
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app